.container {
  .info-form {
    width: 350px;
  }

  .change-avatar {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .avatar {
      margin-bottom: 8px;
    }
  }
}
