.container {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .left {
      width: 50%;
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      .avatar {
        margin: 8px;
      }

      .upload {
        text-align: center;
      }
    }
  }
}
