.container {
  .change-avatar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .avatar {
      margin: 8px;
    }

    .upload {
      text-align: center;
    }
  }
}
