.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;

  .query {
    margin-bottom: 12px;
  }

  .content {
    flex: auto;

    .action {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
