.user {
  height: 48px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.info {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    margin: 0 3px;
    line-height: 48px;
    font-size: 14px;
  }
}
