.container {
  width: 90px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .avatar {
    margin-right: 3px;
  }

  .user {
    line-height: 48px;
    margin-left: 3px;
  }
}
