.container {
  height: 48px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: padding .3s cubic-bezier(.645,.045,.355,1);

  .image {
    width: 32px;
    height: 32px;
  }

  .title {
    margin-left: 16px;
    color: #4096ff;
    font-weight: 600;
    font-size: 18px;
  }
}
