.language {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  margin-left: 16px;
  cursor: pointer;

  .language-zh {
    position: absolute;
    font-size: 1.2em;
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.88);
  }

  .language-en {
    position: absolute;
    font-size: 1.2em;
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.88);
  }

  .language-top {
    left: -5%;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.88);
    color: #ffffff;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    transform-origin: 0 0;
  }

  .language-bottom {
    right: -5%;
    bottom: 0;
    z-index: 0;
    color: rgba(0, 0, 0, 0.88);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    transform-origin: 100% 100%;
  }
}
